<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Account Delete</h1>
    <form  method="post">
      <label for="Email">User Email : </label>
      <input id="Email" type="text" name="Email" required />
      <label for="UserPassword : ">User Password : </label>
      <input id="UserPassword" type="text" name="Password" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
