<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>forgotPassword Page</title>
  </head>
  <body>
    <h1>FORGOT PASSWORD</h1>

    <form method="PUT">
      <label for="email">User Email: </label>
      <input type="text" name="Email" id="email" />
      <label for="pass">Old password</label>
      <input type="text" name="password" id="pass" />
      <label for="cpass">Confirm password</label>
      <input type="text" name="cpassword" id="cpass" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
