<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <a href="/"><h1>Signin</h1></a>
    <a href="/signup"><h1>Signup</h1></a>
    <a href="/signout"><h1>Signout</h1></a>
    <a href="/signoutfromalldevice"><h1>LogoutfromAllDevice</h1></a>
  </body>
</html>
